<div class="main">
  <div id="card-container">
    <mat-card class="half">
      <mat-card-header>
        <mat-card-title>Esta semana</mat-card-title>

      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="30:1" class="accent">
        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="4:1" class="accent">

        <mat-grid-tile *ngIf="tripsWeek | async; else loading; let tripsWeek$">
          {{tripsWeek$.length}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="clientsWeek | async; else loading; let clientsWeek$">
          {{clientsWeek$.length}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="driversWeek | async; else loading; let driversWeek$">
          {{driversWeek$.length}}
        </mat-grid-tile>
        <ng-template #loading>
        </ng-template>
      </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="8:1">
        <mat-grid-tile *ngIf="tripsWeek | async; else loading; let tripsWeek$">
          Viajes
        </mat-grid-tile>
        <mat-grid-tile *ngIf="clientsWeek | async; else loading; let clientsWeek$">
          Nuevos clientes
        </mat-grid-tile>
        <mat-grid-tile *ngIf="driversWeek | async; else loading; let driversWeek$">
          Nuevos conductores
        </mat-grid-tile>
        <ng-template #loading>
        </ng-template>
      </mat-grid-list>
    </mat-card>
    <mat-card class="half">
      <mat-card-header>
        <mat-card-title>Clientes mas frecuentes</mat-card-title>
      </mat-card-header>

      <mat-grid-list cols="1" rowHeight="35:1">
        <div  *ngFor="let hero of topClients">
          <mat-grid-tile>
            <mat-divider></mat-divider>
          </mat-grid-tile>
          <mat-grid-tile>
            {{ hero }}
          </mat-grid-tile>

        </div>
      </mat-grid-list>
    </mat-card>
  </div>
  <mat-card>
  </mat-card>
  <div id="card-container">
    <mat-card  class="half">
      <mat-card-header>
        <mat-card-title>Cantidad de viajes en el último mes</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="30:1" class="accent">
        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>

      <div *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </mat-card>
    <mat-card class="half">
      <mat-card-header>
        <mat-card-title>Frecuencia de viajes Por hora y día</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-grid-list cols="1" rowHeight="30:1" class="accent">
        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="chart2">
        <canvas id="canvas2">{{ chart2 }}</canvas>
      </div>
    </mat-card>
  </div>



</div>
